html, body {
  margin: 0;
  padding: 0;
  /* min-height: 100%; */
  height: 100%;
  margin-bottom: 0px;
}

.tela {
  position: relative;
  min-height: 100vh;
  background-color: rgba(236, 236, 236, 0.300);
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, .8)), url("./images/logoM.png");
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  background-color: rgba(224, 224, 224, 0.500);
  height: 50px;
  flex-shrink: 0;
  border: 1px;
  -webkit-box-shadow: 0px 10px 10px -6px rgba(14, 5, 5, 0.2);
  -moz-box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.header-titulo {
  color: black !important;
  font-weight: bold;
  margin-bottom: 1%;
}

.logo {
  width: 150px;
}

.itens {
  width: 100%;
}

.header-itens {
  color: black !important;
  font-weight: bold;
  text-align: center;
  margin-left: 1%;
}

.header-item-entrar {
  color: black !important;
  font-weight: bold;
  text-align: center;
  margin-left: 1%;
}

.dropdown-menu-header {
  font-weight: bold;
}

.dropdown-menu-header .dropdown-menu {
  right: 0;
  left: auto;
}

.dropdown-menu-header {
  color: white !important;
}

.dropdown-menu-header .nav-link {
  color: black !important;
}

.footer {
  background-color: rgba(224, 224, 224, 0.500);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px;
  -webkit-box-shadow: 0px -13px 10px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -13px 10px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -13px 10px -6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.container {
  flex: 1 0 auto;
}

.footer-paragrafo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: black;
  height: 100%;
}

.icones-sociais {
  position: absolute;
  right: 0%;
  min-width: 30%;
  text-align: right;
}

.icones-sociais a {
  margin-right: 4%;
}

.titulo {
  text-align: center;
  margin-top: 20px;
}

.titulo h2 {
  margin-bottom: 2%;
}

.table-bordered, .table td, .table th, .table tr, .thead {
  border: 1px solid black !important;
}

.tabela-ramais {
  margin-top: 40px;
}

.campo-pesquisar {
  border: 1px solid black;
}

.botoes-cor {
  background-color: rgb(16, 143, 16);
  border-color: rgb(16, 143, 16);
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.botoes-cor span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.botoes-cor span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.botoes-cor:hover span {
  padding-right: 25px;
}

.botoes-cor:hover span:after {
  opacity: 1;
  right: 0;
}

.botoes-cor:hover {
  background-color: rgb(43, 185, 43);
  border-color: rgb(43, 185, 43);
}

.botoes-cor:focus {
  background-color: rgb(43, 185, 43);
  border-color: rgb(43, 185, 43);
}

.alert-erro, .alert-sucesso {
  display: none;
}

.alert-erro-login {
  display: none;
  width: 200px;
}

.loading_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading {
  width: 6rem;
  height: 6rem;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  background-color: rgba(236, 236, 236, 0.300);
}

.container-forms-login {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 2px 2px 7px 0px #000000;
  box-shadow: 2px 2px 7px 0px #797878;
  padding: 4%;
  background-color: rgb(229, 231, 229);
}

.container-forms-login .form-group {
  text-align: center;
  font-weight: bold;
}

#root, .App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1
}

.btn-link {
  padding: 0;
  margin-left: 10px;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: rgb(43, 185, 43);
}

@media (max-width: 380px) {
  body {
    font-size: 10px;
  }
  .logo {
    width: 70px;
  }
  .tabela-td-opcoes {
    min-width: 90px;
  }
  .footer {
    flex-direction: column;
    height: 110px;
  }
  .footer-paragrafo {
    font-size: 12px;
  }
  .icones-sociais {
    position: relative;
    min-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

/* celulares de resolução muito baixa */

@media (min-width: 381px) and (max-width: 599px) {
  body {
    font-size: 13px;
  }
  .logo {
    width: 100px;
  }
  .tabela-td-opcoes {
    min-width: 90px;
  }
  .footer {
    flex-direction: column;
    height: 110px;
  }
  .icones-sociais {
    position: relative;
    min-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

/* começo dos tablets */

@media (min-width: 600px) {
  .tabela-td-opcoes {
    min-width: 90px;
  }
}

/* tablets e alguns PCs já */

@media (min-width: 900px) {
  .logo {
    width: 150px;
  }
}

/* PC e tablets de altas resoluções */

@media (min-width: 1200px) {}

/* PC de alta resolução */

@media (min-width: 1800px) {}