html, body {
  margin: 0;
  padding: 0;
  /* min-height: 100%; */
  height: 100%;
  margin-bottom: 0px;
}

.tela {
  position: relative;
  min-height: 100vh;
}

.header {
  background-color: rgb(63, 194, 63);
  height: 50px;
  flex-shrink: 0;
}

.header-titulo {
  color: black !important;
  font-weight: bold;
}

.logo {
  width: 150px;
}

.itens {
  width: 100%;
}

.header-itens {
  color: white !important;
  font-weight: bold;
  text-align: center;
  margin-left: 1%;
}

.header-item-entrar {
  color: white !important;
  font-weight: bold;
  text-align: center;
  margin-left: 1%;
}

.dropdown-menu-header {
  font-weight: bold;
}

.dropdown-menu-header .dropdown-menu {
  right: 0;
  left: auto;
}

.dropdown-menu-header {
  color: white !important;
}

.dropdown-menu-header .nav-link {
  color: white !important;
}

.footer {
  background-color: green;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.container {
  flex: 1 0 auto;
}

.footer-paragrafo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  height: 100%;
}

.icones-sociais {
  position: absolute;
  right: 0%;
  min-width: 30%;
  text-align: right;
}

.icones-sociais a {
  margin-right: 4%;
}

.titulo {
  text-align: center;
  margin-top: 20px;
}

.titulo h2 {
  margin-bottom: 2%;
}

.tabela-ramais {
  margin-top: 40px;
}

.botoes-cor {
  background-color: rgb(16, 143, 16);
  border-color: rgb(16, 143, 16);
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.botoes-cor span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.botoes-cor span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.botoes-cor:hover span {
  padding-right: 25px;
  
}

.botoes-cor:hover span:after {
  opacity: 1;
  right: 0;
}

.botoes-cor:hover {
  background-color: rgb(43, 185, 43);
  border-color: rgb(43, 185, 43);
}

.botoes-cor:focus {
  background-color: rgb(43, 185, 43);
  border-color: rgb(43, 185, 43);
} 

.alert-erro, .alert-sucesso {
  display: none;
}

.alert-erro-login {
  display: none;
  width: 200px;
}

.loading_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading {
  width: 6rem;
  height: 6rem;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1
}

.container-forms-login {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 2px 2px 7px 0px #000000;
  box-shadow: 2px 2px 7px 0px #797878;
  padding: 4%;
  background-color: rgb(229, 231, 229);
}

.container-forms-login .form-group {
  text-align: center;
  font-weight: bold;
}

#root, .App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-login {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

/* @media (min-width: 400px ) and (max-width: 800px){
    
} */