body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  margin-bottom: 0px;
}

.tela {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header{
  background-color: rgb(63, 194, 63);
  /* width: 100%;  */
  height: 50px;
  flex-shrink: 0;
}

.header-titulo{
  color: black !important;
  font-weight: bold;
}

.logo{
  width: 150px;
}

.itens{
  width: 100%;
}

.header-itens{
  /* color: rgb(75, 74, 74) !important; */
  color: white !important;
  font-weight: bold;
  text-align: center;
  margin-left: 1%;
}

.dropdown-menu-header{
  font-weight: bold;
}

.dropdown-menu-header .dropdown-menu{
  right: 0;
  left: auto;
}

.dropdown-menu-header {
  color: white !important;
}

.dropdown-menu-header .nav-link {
  color:white !important;
}

.footer{
  background-color: green;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.container{
  flex: 1 0 auto;
}

.footer-paragrafo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  height: 100%;
}

.icones-sociais{
   position: absolute; 
   right: 0%;
   min-width: 30%;
   text-align: right;
}

.icones-sociais a{
  margin-right: 4%;
}

.titulo{
  text-align: center;
  margin-top: 20px;
}

.titulo h2{
  margin-bottom: 2%;
}

.tabela-ramais{
  margin-top: 40px;
}


/* @media (min-width: 400px ) and (max-width: 800px){
    
} */